body {
  background-image: url("papelTapiz2.jpg")
}

.title {
  width: 1200px;
  background-color: grey;
  border-radius: 10px;
  text-indent: 12px;
  font-family: 'Times New Roman', Times, serif;
  font-size: xxx-large;
  color: rgb(226, 8, 8);
}

.header_nav {
  font-size: larger;
  margin-top: 0px;
  margin-bottom: 10px;
  list-style: none;
  padding-left: 0px; 
  text-align: center;
  background-color: grey;
  border-radius: 5px;
}

.header_nav_item {
  display: inline-block;
  padding: 10px;
}

.header_nav_item a {
  color: rgb(230, 3, 3);
  padding: 5px;
  border-radius: 5px;
  background-color:bisque;
  text-decoration: none;
}

.header_nav_item a:hover {
  color: blue;
}

.header_nav_item a:active {
  color: black;
}

/* .header_nav_item a::after {
  
} */

.primerp {
    height: 80px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    text-indent: 5px;
    line-height: 1.0;
    text-align: justify;
  }

.segundop {
    border: 1px solid gray;
    border-radius: 10px;
    text-indent: 5px;
    line-height: 1.0;
    text-align: justify;
  }

#listas {
  float: left;
}

#formularios {
  float: right;
}

#piedepag {
  float: inline-end;

  
}