body {
  background-image: url("papelTapiz2.jpg")
}

.title {
    color: rgb(226, 8, 8);
    width: 1200px;
    height: 80px;
    background-color: rgb(64, 70, 60);
    border-radius: 10px;
    font-family: cursive;
    font-size: xxx-large;
    text-indent: 12px;
  }

  .primerp {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    text-indent: 5px;
    line-height: 1.0;
    text-align: justify;
  }

  .segundop {
    border: 1px solid gray;
    border-radius: 10px;
    text-indent: 5px;
    line-height: 1.0;
    text-align: justify;
  }
#listas {
  float: left;
}

#formularios {
  float: right;
}

#piedepag {
  float: inline-end;
}